@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;

    li, a, button {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #58697A;
        text-decoration: none;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 3%;
        border-bottom: 3px solid #58697A;
    }
    
    .logo{
        cursor: pointer;
        width: 200px;
    }
    
    .navlinks{
        list-style: none;
    }
    
    .navlinks li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    .navlinks li a {
        transition: all 0.3s ease 0s;
    }
    
    .navlinks li a:hover {
        color: black;
    }
    
    .search {
        width: max-content;
        display: flex;
        align-items: center;
        padding: 14px;
    }
    
    .search-input {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        background: transparent;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        border: 2px solid black;
    }
    .footer{
        display: flex;
        justify-content:center;
        align-items: center;      
    }
    .arrow{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .scrollTop{
        display:flex;
        margin-top: 1px;
        bottom: 30px;
        right: 30px;
        padding: 20px 20px;
        background-color: #da8d00;
        color: #fff;
        border-radius: 5px;
        border-radius: 1px solid white;
        cursor:pointer;
        transition: all 0.5 ease 0s; 
    }
    .scrollTop:hover{
        background-color: rgb(0, 0, 0);
        color: #2c6eaf;
    }
    .searchfooter {
        display: flex;
        width: max-content;
        align-items: center;
        padding: 14px;
    }

    .search-input-footer {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        background: transparent;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        border: 2px solid black;
    }

    .footer{
        display: flex;
        justify-content:center;
        align-items: center; 
        border-top: 3px solid #58697A;
    }
    .logofooter{
        display: flex;
        justify-content:center;
        align-items: center; 
    }
    .logofooter p{
        font-family: "Galada", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #58697A;
        text-decoration: none;
    }
    .logofooter img{
        margin-top: 10px;
        cursor: pointer;
        width: 350px;
    }

    .hometitle{
        font-family: "Galada", sans-serif;
        text-align: center;
        margin-top: 10px;
        font-size: 80px;
        color: #58697A;
        font-weight: 300;
    }

    .recipes1{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        
    }

    .recipe img {
        width: 200px;
        height: 150px;
        border: 2px solid black;
        box-shadow: 10px 10px rgb(185, 182, 182);
        
    }

    .recipe h4{
        font-family: "Gelasio", sans-serif;
        font-style: italic;
        font-weight: 100;
        color: #58697A;
        margin-top: 10px;
        text-align: center;
        
    }

    .recipe p{
        font-family: "Inter", sans-serif;
        font-size: 14px;
        text-align: center;
        
    }

    .viewmore {
        display: block;
        margin: auto;
        height: 40px;
        padding: 0 20px;
        border: 0;
        border-radius: 4px;
        background-color: #58697A;
        color: white;
        transition: .3s linear;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .viewmore:hover {
        opacity: .5;
        cursor: pointer;
    }

    .button {
        border-bottom: 3px solid #58697A;
    }

    .container2 {
        border-bottom: 3px solid #58697A;
    }

    .heart {
        text-align: center;
        margin-top: 20px;
    }

    .heart img{
        width: 70px;
    }

    .text-c2{
        font-family: "Gelasio", sans-serif;
        font-size: 70px;
        font-style: italic;
        text-align: center;
        color: #58697A;
        padding: 5px;
    }

    .logo1 img{
        width: 150px;
    }

    .logo1 {
        text-align: center;
    }

    .spoon {
        text-align: center;
    }

    .spoon img{
        width: 70px;
    }

    .latestrecipes {
        font-family: "Galada", sans-serif;
        font-size: 80px;
        text-align: center;
        font-weight: 400;
        color: #58697A;
    }

    .category{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .category img {
        width: 300px;
        height: 350px;
        margin: 30px 80px;
        border: 2px solid black;
        box-shadow: 10px 10px rgb(185, 182, 182);
        
    }

    .category h1{
        font-family: "Gelasio", sans-serif;
        font-style: italic;
        font-weight: 100;
        margin-top: 10px;
        text-align: center;
        font-size: 80px;
        
    }

    .category p {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        text-align: center;
        align-items: center;
        padding: 30px;
        font-style: italic;
        color: #58697A;

    }


    
    
    


}




 

