@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;

    .abouttitle {
        font-family: "Inter", sans-serif;
        font-size: 60px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #58697A;
    }

    .descriptionp {
            
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .descriptionp p{
        font-weight: bold;
        color: #58697A;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 40px;
        font-style: italic;
        padding: 10px;
    }

    .descriptionp1 {
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .descriptionp1 p{
        color: #58697A;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 40px;
        font-style: italic;
    }

    .showOnMobile{

        display: none;
    }

    .about-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #58697A;
        margin-top: 30px;
        padding: 10px;
    }

    

}

@media (max-width: 320px){

    .abouttitle {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .descriptionp p{
        font-weight: bold;
        color: #58697A;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        font-style: italic;
    }

    .descriptionp1 {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .descriptionp1 p{
        color: #58697A;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 30px;
        font-style: italic;
    }

    .showOnMobile{
        display: block;
    }

    .mobile {
        text-align: center;
    }

    .mobile img{
        width: 100px;
        height: 100px;
    }

    .logofooter img{
        width: 150px;
        height: 50px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

    .abouttitle {
        font-family: "Inter", sans-serif;
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #58697A;
    }

    .descriptionp p{
        font-weight: bold;
        color: #58697A;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 31px;
        font-style: italic;
        padding: 10px;
    }

    .descriptionp1 p{
        color: #58697A;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 31px;
        font-style: italic;
    }
}