@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;

    .contacttitle {
        text-align: center;
        font-family: "Inter", sans-serif;
        color: #58697A;
        margin-top: 20px;
        font-size: 50px;
    }

    .contents {
        display: flex;
        color: #58697A;
        font-size: 30px;
        flex-wrap: wrap;
    }

    .contact-desc {
        margin-left: 30px;
        margin-right: 100px;
        text-align: justify;
        margin-top: 10px;
    }
   

    .contact-list {
        margin-top: 20px;
        font-style: italic;
        margin-left: 30px;
    }

    .contact-list li, .info-email li {
        font-size: 25px;
        font-weight: bold;
    }

    .inquiry {
       text-align: justify;
       margin-left: 30px;
       margin-top: 20px;
    }

    .info-email {
        margin-left: 30px;
        margin-top: 20px;
    }
}

@media (max-width: 355px){
    .contacttitle {
        font-size: 40px;
    }
    .contents {
        text-align: center;
        font-size: 20px;
    }
    .contact-desc {
        margin-left: 30px;
        margin-right: 100px;
        text-align: justify;
        margin-top: 10px;
    }

    .contact-list li, .info-email li {
        font-size: 20px;
        font-weight: bold;
    }

}
