@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;
    --color2: #DFDFDF ;
    --color1: #58697A ;

    li, a, button {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #58697A;
        text-decoration: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 3%;
        border-bottom: 3px solid #58697A;
    }

    .navlinks{
        list-style: none;

        .link {
            display: inline-block;
            padding: 0px 20px;
            transition: all 0.3s ease 0s;
        }
    
        .link:hover {
            color: black;
        }
    }
    
// hamburger menu toh
.menu {display: none;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu {
    position:relative;
    margin-top: 20px;
    left: 10px;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.close-menu {
    position:absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
//end ng hamburger menu


    .search {
        width: max-content;
        display: flex;
        align-items: center;
        padding: 14px;
    }
    
    .search-input {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        background: transparent;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        border: 2px solid black;
    }
}

@media (max-width:511px) {
    .navlinks{
        display: none;
    }

    .search-input{
        display: none;
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display:flow-root;}
    #check:checked ~ .menu {right: 0;}


}

@media (max-width: 346px) {
    .navlinks{
        display: none;
    }

    .search-input{
        display: none;
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display:flow-root;}
    #check:checked ~ .menu {right: 0;}

}

@media (max-width: 320px) {
    .header {
        display: flex;
    }

    .navlinks {
        display: none;
    }

    .search-input{
        display: none;
    }

    .header img{
        width: 150px;
        margin-left: 30px;
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display:flow-root;}
    #check:checked ~ .menu {right: 0;}

}

@media only screen and (max-width: 768px) {

    a {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #58697A;
        text-decoration: none;
    }

    .search-input {
        font-size: 11px;
        font-family: "Inter", sans-serif;
        background: transparent;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        border: 2px solid black;
    }

    .search {
        width: max-content;
        display: flex;
        align-items: center;
        padding: 14px;
        padding-left: 0px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 3%;
        border-bottom: 3px solid #58697A;
    }

    .navlinks{
        list-style: none;

        .link {
            display: inline-block;
            padding: 0px 8px;
            transition: all 0.3s ease 0s;
        }
    
        .link:hover {
            color: black;
        }
    }

}